@{
	ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100">
	<div class="card shadow p-5" style="max-width: 600px; width: 100%; background-color: #17252A;">
		<h1 class="display-4 text-center mb-4 text">Welcome to FMS</h1>
		<p class="lead text-center text">Group Members:</p>
		<ul class="list-group list-group-flush">
			<li class="list-group-item text">Mufaddal</li>
			<li class="list-group-item text">Mehmood</li>
			<li class="list-group-item text">Iqra</li>
		</ul>
	</div>
</div>